@import "../../global.scss";

.portfolioList{
    font-size: 1.6rem;
    margin-right: 2rem;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;

    &.active{
        background-color: $sideAccent;
        color: $mainColor;
    }
}
    
