@import "../../global.scss";

.contact{
    background-color: $mainColor;
    color: $textColor;
    display: flex;

    .left{
        flex: 1;
        overflow: hidden;

        .items{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;      
            
            .border{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;   
                height: 15rem;
                width: 15rem;
                background-color: $mainAccent;
                border-radius: 50%;

                .icon{
                font-size: 10rem;        
                color: $mainColor;        
                }
            }
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 3rem;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around; 
            
            input{
                color: $textColor;
                background-color: $mainColor;
                width: 80%;
                height: 3rem;
                font-size: 1.5rem;  
                border: .2rem; 
                border-color: $mainAccent;   
                border-style: solid;          
            }

            textarea{
                color: $textColor;
                background-color: $mainColor;
                width: 80%;
                height: 18rem;
                font-size: 1.5rem;
                border: .2rem; 
                border-color: $mainAccent;   
                border-style: solid; 
            }

            button{
                overflow: hidden;
                width: 40%;
                height: 3.5rem;
                color: $textColor;
                background-color: $mainColor;
                border: none;
                border-radius: .5rem;
                font-weight: 600;
                font-size: 1.5rem;
                border: .2rem; 
                border-color: $mainAccent;   
                border-style: solid; 
            }
            
            span{
                color: $textColor;
            }
        }
    }
}